:root {
  --background-color: #121213;
  --foreground-color: #d7dadc;

  --color-grey: #3a3a3c;
  --color-yellow: #b59f3b;
  --color-green: #538d4e;
}

.App {
  background-color: var(--background-color);
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--foreground-color);
}

.App-header {
  margin-bottom: 1rem;
}

.App-footer {
  padding: 2rem;
}

.board {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: .5rem;
}

.letter {
  color: var(--color-empty);
  min-height: 2rem;
  min-width: 2rem;
  padding: .5rem;
  outline: 1px solid var(--foreground-color);
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answers-words {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
}

.word {
  background-color: lightgrey;
  color: black;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 5px;
}

input[type="text"] {
  position: absolute;
  left: -9000px;
  top: -9000px;
}